html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  text-shadow: 1px 1px 2px black;
  overflow-x: hidden;
}

body:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: url('../public/photos/svgs/blob-scene-haikei.svg') no-repeat 50% 50%;
  background-size: cover;
}

.dosis-text {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.1em;
}

.main_carousel {
  width: 75%;
  margin: auto;
  padding: 4em 5em;
}


.dosis-text-header {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

.background_box {
  background-color: rgb(0, 4, 8, 0.7);
}

.main_header_1 {
  margin: 0 0 0 1em;
}

.main_header_2 {
  margin: 0 0 0.35em -6.5em;
}

.nonchalant {
  text-decoration: none;
  color: white;
}

.width_adjuster {
  width: 10%;
}

@media only screen and (max-width: 992px) {
  .main_header_1 {
    margin: 0 0 0 2em;
  }

  .main_header_2 {
    margin: 0.5em 0 0.35em -6em;
  }

  .width_adjuster {
    width: 15%;
  }

  @media only screen and (max-width: 768px) {
    .main_header_1 {
      margin: 0 1em 0 2em;
    }

    .main_header_2 {
      margin: 0 0em 0em -11em;
    }

    .width_adjuster {
      width: 15%;
    }
  }

  @media only screen and (max-width: 525px) {
    .main_header_1 {
      margin: auto;
    }

    .main_header_2 {
      margin: auto;
    }

    .width_adjuster {
      width: 25%;
    }
  }
}