html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 1px;
  word-spacing: 3px;
  overflow-x: hidden;
}

body:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: url('../public/photos/svgs/blob-scene-haikei.svg') no-repeat 50% 50%;
  background-size: cover;
}

.background_box {
  background-color: rgb(0, 4, 8, 0.7);
}

.background_box_2 {
  background-color: rgb(0, 4, 8);
}

.btn {
  border: none;
}

.nonchalant_list {
  list-style: none;
  margin: 0 2em 0 0;
}

.dosis-huge {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.9em;
}

.dosis-text {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.1em;
}

.dosis-text-list {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.08em;
}

.dosis-text-button {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

.dosis-text-header {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

.dropdown-item:hover {
  background-color: rgb(12, 28, 48);
}

.dropdown-item:active {
  background-color: rgb(150, 68, 110);
}

.header_background {
  background-color: rgb(0, 6, 12);
  border: 1px solid rgb(233, 112, 90);
}

.header_item {
  text-decoration: none;
  color: white;
}

.header_wrapper {
  border: 1px solid red;
}

.nonchalant_color {
  text-decoration: none;
  color: rgb(233, 112, 90);
}

.inner_width_adj {
  width: 90%;
  margin: auto;
}

.list_button {
  background-color: rgb(197, 84, 105);
  border: 3px solid rgb(62, 37, 64);
  color: white;
}

.main_carousel {
  width: 75%;
  margin: auto;
  padding: 4em 5em;
}

.main_header_1 {
  margin: 0 0 0 1em;
}

.main_header_2 {
  margin: 0 0 0.35em -6.5em;
}

.my_list_border {
  border: 2px solid slateblue;
  border-radius: 10px;
}

.nonchalant {
  text-decoration: none;
  color: white;
}

.rounded {
  border: 1px solid slateblue;
  border-radius: 15px;
}

.rounded_large {
  border-radius: 30px;
}

.rounded_photo {
  border-radius: 20px;
}

.small_carousel {
  width: 100%;
  margin: auto;
  margin: 1em 0 1em 0;
  padding: 3em;
}

.width_adjuster {
  width: 15%;
}

@media only screen and (max-width: 992px) {
  .main_header_1 {
    margin: 0 0 0 2em;
  }

  .main_header_2 {
    margin: 0.5em 0 0.35em -6em;
  }

  .width_adjuster {
    width: 15%;
  }

  @media only screen and (max-width: 768px) {
    .main_header_1 {
      margin: 0 1em 0 2em;
    }

    .main_header_2 {
      margin: 0 0em 0em -11em;
    }

    .width_adjuster {
      width: 15%;
    }
  }

  @media only screen and (max-width: 525px) {
    .main_header_1 {
      margin: auto;
    }

    .main_header_2 {
      margin: auto;
    }

    .width_adjuster {
      width: 25%;
    }
  }
}